@{
    ViewBag.Title = "Angular Home Page";
    Layout = null;
}

<!doctype html>
<html lang="en" ng-app="lobbyApp">

<head>
    <link href="~/css/MyStyles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body ng-controller="lobbyController">
    <div class="topnav">
        <a class="active">TicTacToe</a>
    </div>
    <div class="mainContainer">



        <div class="queueContainer">
            <div class="row">
                <div class="col-md-3 col-sm-6 queue" ng-repeat="q in queues">
                    <button class="btn btn-success" ng-click="seat(q.id)">Seat</button>

                    <h3>{{q.name}}</h3>
                    <h3>{{q.playerCount}}</h3>

                    <button class="btn btn-danger" ng-click="seatOut(q.id)">
                        SeatOut
                    </button>
                </div>
            </div>
        </div>

    </div>

        <script>
            var signalrAddress = 'http://localhost:5102/';
            var gameUrl = '/game/index';
        </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/Lib/signalrCore/dist/browser/signalr.js"></script>
        <script src="~/Scripts/Communication/ServerLayer.js"></script>
        <script src="~/Scripts/Lobby/Lobby.js"></script>

</body>

</html>